certifi==2018.4.16
chardet==3.0.4
idna==2.6
numpy==1.20.1
praw==5.4.0
prawcore==0.14.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.25.1
schedule==0.5.0
simplejson==3.15.0
six==1.11.0
slackclient==1.2.1
update-checker==0.16
urllib3==1.26.5
virtualenv==16.0.0
websocket-client==0.48.0
